<% provide(:title, 'About Us') %>

    <h1>About Us</h1>
    <p>
      This is a platform which brings all the collectors together. If you are passionate about collecting, this is the place to be.
      <br />
      <p>Just signup and create your gallery and have the ability to upload pictures of your collections and share your gallery with friends and other collectors!
     signup here <%= link_to "Hoonx", root_path %>
      sample application.
    </p>
 