<div class="center hero-unit">
    <h1>Collector's Exchange</h1>
    <p>
      Show off your collections to the world. Be it baseball cards or action figures, you know you want the world to see it. Please sign-up to be able to create galleries.
      
    </p>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-max btn-success btn-primary" %>
</div>

